<nav id="topbar" class="p-1 d-flex justify-content-between align-items-center fixed-top navbar-dark bg-dark">

  <button class="navbar-toggler border-0" type="button" id="progressCollapse">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <g id="Group_12" data-name="Group 12" transform="translate(309 -2596)">
        <path id="Path_175" data-name="Path 175" d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0Zm0,22.5A10.512,10.512,0,1,1,22.5,12,10.511,10.511,0,0,1,12,22.5Z" transform="translate(-309 2596)" fill="var(--col-primary)"/>
        <path id="Icon_open-question-mark" data-name="Icon open-question-mark" d="M3.705,0A3.876,3.876,0,0,0,.885.99,3.273,3.273,0,0,0,0,2.91l1.5.2A1.818,1.818,0,0,1,1.965,2.07a2.227,2.227,0,0,1,1.74-.57,2.647,2.647,0,0,1,1.83.51,1.254,1.254,0,0,1,.42.99c0,1.245-.51,1.59-1.26,2.25a4.275,4.275,0,0,0-1.74,3.375V9h1.5V8.625A2.5,2.5,0,0,1,5.67,6.375,4.3,4.3,0,0,0,7.455,3,2.882,2.882,0,0,0,6.57.885,4.146,4.146,0,0,0,3.7,0Zm-.75,10.5V12h1.5V10.5Z" transform="translate(-300.727 2602)" fill="var(--col-primary)"/>
      </g>
    </svg>
  </button>

  <%= image_tag("logo/Logo__icon_v2.0.0-dark-bkg.svg", height: '30', width: 'auto') %>

  <button class="navbar-toggler invisible" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>
