<div class="item-default col">
  <div class=" p-1 rounded cursor-pointer">
    <div class="row pb-1">
      <div class="col">
        <div class="row">
          <div class='col-auto pr-0 item-title'>
            <strong class='item-name '>
              No items to show
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>